body{
  width: 100vw;
  background-color: rgb(73, 68, 68);
 
}
  .cardCust{
    width: 45rem;
  
    margin: auto;
    margin: 20px auto;
    z-index: 2;
    background-color: #EEEEEE;
}
a{
  color: black;
}
.cardI{
    box-shadow: 4px 4px 2px 2px grey;
}
button{
  background-color: #bececf;
  border-radius: 10px;
}

button:hover{
  background-color: #666699;
  color: wheat;
}
.myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    margin: 8px;
  }
  .Notes{
    width: 100%;
  }

  .myNoteBtn{
    margin: 10px;
    /* position: fixed; */
  }

.Sb{
  display:flex ;
  justify-content: center;
}
.sea{
  width: 35rem;
  text-align: center;
  font-size: large;
  border-radius: 10px;
}
.searchBtn{
  width: 10rem;
}




/* start css of meme*/


.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

/* end css of meme */



  